* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Navegação Lateral */
.side-nav {
    width: 394px;
    background-color: #47BBC2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.side-nav .logo img {
    width: 50%;
    margin-bottom: 20px;
}
.title-nav {
    font-size: 25px;
}

.side-nav h2 {
    margin-bottom: 20px;
}

.side-nav label {
    margin-top: 10px;
}

.side-nav select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

/* Conteúdo Principal */
.main-content {
    margin-left: 394px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Navegação Superior */
.top-nav {
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 116px;
}
.search {
    background-color: #EFEFEF;
    height: 36px;
    width: 574px;
}
.top-nav input[type="text"] {
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border: none;
}

.top-nav .icons img {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

/* Navegação de Links */
.link-nav {
    background-color: #EFEFEF;
    padding: 10px 40px;
    display: flex;
    height: 50px;
}

.link-nav ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
}

.link-nav ul li {
    margin-right: 20px;
}

.link-nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 40px;
    font-size: 24px;
}

.link-nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo das Páginas */
.page-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #bdc3c7;
    overflow-y: auto;
}