<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <!-- Navegação Lateral -->
        <nav class="side-nav">
            <div class="logo">
                <img src="/src/assets/senac-logo.png" alt="Logo">
            </div>
            <h2 class="title-nav">Painel de Controle</h2>
            <label for="cidade">Cidade:</label>
            <select id="cidade">
                <option value="sao-paulo">São Paulo</option>
            </select>
            <label for="zona">Zona:</label>
            <select id="zona">
                <option value="sul">Zona Sul</option>
                <option value="leste">Zona Leste</option>
                <option value="oeste">Zona Oeste</option>
                <option value="centro">Centro</option>
                <option value="norte">Zona Norte</option>
            </select>
        </nav>

        <!-- Conteúdo Principal -->
        <div class="main-content">
            <!-- Navegação Superior -->
            <nav class="top-nav">
                <input type="text" class="search" placeholder="Pesquisar...">
                <div class="icons">
                    <img src="" alt="Alert Icon">
                    <img src="" alt="Profile Icon">
                </div>
            </nav>

            <!-- Navegação de Links -->
            <nav class="link-nav">
                <ul>
                    <li><a href="#mapa">Mapa</a></li>
                    <li><a href="#painel">Painel Geral</a></li>
                    <li><a href="#sintomas">Sintomas</a></li>
                    <li><a href="#informacoes">Informações</a></li>
                </ul>
            </nav>
            <hr>

            <!-- Conteúdo das Páginas -->
            <div class="page-content">
                <!-- Conteúdo das páginas únicas aqui -->
            </div>
        </div>
    </div>
</body>
</html>