body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #47BBC2, #22595C); 
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container {
    display: flex;
    flex-direction: column;
    width: 430px;
}

.login-group,
.register-group  {
    padding: 40px;
    margin-top: 0%;
    background-color: #F9F9F9; 
    border-radius: 10px;
}

.register-group {
    width: 700px;
}

.title-logo {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.title-login,
.title-register {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    padding-top: 40px;
}
.update-pwd {
    font-size: 14px;
    color: #A2A1A1;
    display: flex;
    justify-content: flex-end;
}
.input-login {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #B6B2B2; 
    outline: none;
    background-color: transparent;
    padding-top: 65px;
  }

.btn-login {
    background: linear-gradient(to right, #31D5DF, #22595C  ); 
    border-radius: 24px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
  }

  .btn-login:hover {
    opacity: 0.7;
  }

.btn-midia p {
    color: #000000;
    margin-top: 50px;
}


.btn-account {
    margin-top: 100px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #27A4C4;
    color: white;
  }

  .fa-google {
    background: #DC4E41;
    color: #FFFFFF;
  }

.register-form {
   padding: 20px;
   margin-top: 20px;
}

.form-label {
    color: #000000;
}