<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>DENGUEGUARD</h1>

  <h3>Faça seu login</h3>
  <form id="login-form">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit">Acessar</button>
  </form>
  
  <p><a href="">Cadastre-se</a></p>
  
  <script src="login.js"></script>
</body>
</html>